@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #7CAC34;
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --bg-color: #FFFFFF;
    --bg-grey-color: #fafafa;
    --bg-box-color: #f3f3f3;
    --nav: #fcfcfc;
    --border-color: rgba(214, 210, 210, 0.938);
    --product-card-shadow: hsla(0, 0%, 0%, 0.14);
    --box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
    --transition: 0.5s;
    --hero-text: hsla(0, 0%, 0%, 0.09);
    --hover: rgba(211, 209, 212, 0.24);
}

.dark {
    --bg-color: #000000;
    --bg-grey-color: #0e0e0e;
    --bg-box-color: #000000;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --nav: #2A2A2A;
    --border-color: rgba(69, 69, 69, 0.756);
    --box-shadow:  0 -2px 10px rgba(0, 0, 0, 0.5);
    --product-card-shadow: var(--primary-color);
    --message-text-bg: rgba(160, 159, 161, 0.1);
    --transition: 0.5s;
    --hero-text: rgba(255, 255, 255, 0.2);
    --hover: rgba(160, 159, 161, 0.1);


}
/* typography */
.f-11{
    font-size: 11px;
}
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}
.f-13{
    font-size: 13px;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.border{
    border: 1px solid var(--border-color);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-box-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
}

section,
.hero,
.links-footer {
    width: 85%;
    margin: auto;
    max-width: 1300px;
}

section {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* nav */
.nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: var(--transition);
    background-color: var(--nav);
    box-shadow: var(--box-shadow);
    background-color: var(--nav);

}



.nav-content {
    position: relative;
    padding: 10px;
    width: calc(100% - 20px);
}

.logo-text {

    color: var(--primary-color);
}

.logo-text svg {

    height: 1.8em;
    width: auto;
}

.links a {
    transition: var(--transition);
}

.links a:hover {
    color: var(--primary-color);
}

.social-icons {
    color: var(--text-color);
    padding: 0.7em;
    border-radius: 2.5em;
    border: 0.5px solid var(--border-color);
    transition: var(--transition);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.social-icons:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.mobile-view-menu-icon {
    border-radius: 1.5em;
    background-color: var(--bg-box-color);
    cursor: pointer;
    padding: 0.5em;

}

.mobile-view-menu-icon svg {
    color: var(--text-color);
}

.mobile-view-menu-icon .close-btn {
    display: none;
}

.mobile-view-menu-icon svg:hover {
    color: var(--primary-color);
}

.dropdown-menu {
    position: absolute;
    gap: 1em;
    background: var(--nav);
    top: -800%;
    height: auto;
    overflow: hidden;
    z-index: -1;
    transition: var(--transition);
    margin: auto;
    left: 0;
    right: 0;
    padding: 20px;
    padding-top: 0px;
    width: calc(100% - 40px);
}


.dropdown-menu a:hover {
    color: var(--primary-color);
}

.dropdown-menu svg {
    transition: all 0.5s;
}

.dropdown-menu.open {
    display: flex;
}

.social-icons-mob {
    display: flex;
    align-items: center;
    padding: 0.8em;
    border: 0.1px solid var(--sub-text-color);
    border-radius: 5em;
}

.social-icons-mob:hover {
    color: var(--primary-color);

}

ul {
    list-style: none;
}

.all-content {
    letter-spacing: 0.1px;
}

.terms li {
    list-style: disc;
}

.dropdown-menu li {
    font-weight: 600;
}

/* social links hide on table and mobile view */
@media screen and (max-width: 1024px) {
    .social-icons {
        display: none;
    }

    .links {
        display: none !important;
    }

    .mobile-view-menu-icon {
        display: flex !important;
    }
}


.grey-section {
    width: 100%;
    margin: auto;
    background-color: var(--bg-grey-color);
}

.pattern {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    opacity: 0.2;
    background-image: radial-gradient(var(--primary-color) 0.9px, var(--bg-color) 0.9px);
    background-size: 28px 28px;
    z-index: -9999;
}

.loginbox {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 0.5em;
    padding: 2.5em;
    background-color: var(--bg-grey-color);
}

.loginbox h3 {
    font-size: 25px;
}

.custom-input input {
   
    border: none;
    background-color: var(--bg-grey-color);
    color: var(--text-color);
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-input input:focus {
    outline: none;

}

.custom-input {
    border: 2px solid var(--border-color);
    padding: 0.5em;
    border-radius: 0.5em;
}

.custom-input svg {
    color: var(--sub-text-color);
}

.custom-input:focus-within {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
}

form p {
    font-size: 16px;
    font-weight: 500;
}

.button-main {
    background-color: var(--primary-color);
    padding: 0.7em;
    border-radius: 0.5em;
    cursor: pointer;
    color: #ffffff;
}

.eye-icons {
    display: flex;
    cursor: pointer;
}

#eyeIconClose {
    display: none;
}
/* sidebar */

#sides {
    background-color: var(--nav);
    border-right: 0.5px solid var(--border-color);
    padding: 0.5em;
    overflow: hidden;
    height: calc(100vh - 83px);

}

#sides:hover {
    overflow: auto;
}
aside{
    width: 220px;
    /* width: max-content; */
}
#sides::-webkit-scrollbar {
    width: 2px;
}
#sides::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

#sides::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

#sides::-webkit-scrollbar-track {
    background-color: var(--nav);
}
.custom-menu span {
    font-size: 12px;
    font-weight: 500;
    color: var(--sub-text-color);
}
.custom-menu {
    padding: 0.7em;
    border-radius: 0.5em;
    transition: var(--transition);
    cursor: pointer;
}
.custom-menu:hover {
    background-color: var(--hover);
}
@media screen and (max-width: 1024px) {
   aside{
    display: none;
   }
}
@media screen and (max-width:480px) {
    #nav-mobile-icon{
        margin-right: 0px !important;
    }
    .dark-mode-toggle{
        top: 0.65em !important;
        right: 7.2em !important;
    }

 }

/* ===============main============= */
main{
    
   width: 100%;
   overflow: auto;
}

.top-links{
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;

}
.top-links a{
    color: var(--primary-color);
    opacity: 0.9;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.top-links a:hover{
opacity: 1;
}
.top-links span{
    color: var(--text-color);
}

.admin-input{
    border: 1px solid var(--border-color);
    padding: 0.7em;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    white-space: nowrap;
   
}
.admin-input svg{
    color: var(--sub-text-color);
}

.admin-input:focus-within {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
}

input,textarea {
    background-color:var(--bg-color);
    outline: none;
    border: none; 
}

/* table */
table {
   position: relative;
    margin-top: 2em;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: auto;
    white-space: nowrap;
   

    
}


thead{
 
    font-size: 14px;
    color: var(--sub-text-color);
    background: var(--nav);
    position: sticky;
    top: 0;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
   
}



th, td {
    
    padding: 1.2em;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}
td{
    font-size: 12px;
}

tr td:nth-child(1){
    cursor: pointer;
}
tr td:nth-child(1):hover{
    text-decoration: underline;
}

tr td:nth-child(2){
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
    font-weight: 500;
}
tr td button{
    padding: 0.2em 1em;
    background: none;
    color: var(--text-color);
    font-weight: 500;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}
tr td button:nth-child(2):hover{
    background-color: rgba(255, 0, 0, 0.624);
}
.footer-links{
    padding: 0.5em 0.8em 0.5em 0.8em;
    cursor: pointer;
    border-radius: 0.5em;
}
.footer-links:hover{
    color: #FFFFFF;
    background-color: var(--primary-color);
}
.active {
    color: #FFFFFF;
    background-color: var(--primary-color); /* Replace with the actual color if --primary-color is not defined */
}
#admin-footer{
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: var(--nav);
    border-top: 1px solid var(--border-color);
    
}
.dropdown-holder {
    position: relative;
    
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid var(--border-color);
    background-color: var(--nav);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    z-index: 9999;
    
}
.popup-container{
    position: absolute;
    padding: 2em;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: var(--nav);
    border-radius: 0.5em;
    width: 300px;
    z-index: 9999;
    visibility: hidden;
    transition: 0.2s ease-out; 
    box-shadow: var(--box-shadow);
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  
}
#notification-drop{
    overflow: auto;
    height:500px;
    width:400px;
  
    color: var(--text-color);
}
@media screen and (max-width:768px) {
    #notification-drop{
    width: 350px; 
    
    }
}

.hover-effect,.hover-border{
    transition: 0.2s;
}
.hover-border:hover{
border: 1px solid var(--border-color);
border-radius: 0.5em;
}
.hover-effect:hover{
background-color: var(--hover);
}
.notification-box{
    padding: 1.2em 1em;
    gap: 1em;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.notification-box:hover{
    background-color: var(--hover);
}
.notification-box h4{
    font-size: 12px;
    font-weight: 600;
}
.dropdown-holder:hover .dropdown,
.dropdown-trigger:focus+.dropdown {
    display: block;
}
.s-icons svg{
    color:var(--sub-text-color);
    opacity: 0.7;
    transition: var(--transition) ease-in-out;
}
.s-icons svg:hover{
    color: var(--primary-color) ;
    opacity: 1;
}
@media screen and (max-width:1250px) {
    .name-head{
        font-size: 20px !important;
        text-wrap: wrap !important;
    }
}
@media screen and (max-width:480px) {
    .name-head{
        font-size: 18px !important;
        white-space: nowrap !important;
    }
    .name-sub-head{
        font-size: 12px !important;
        white-space: nowrap !important;
    }
    .p-photo{
        width: 120px !important;
    }

}
/* switch */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* select */
  select {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* For older versions of Chrome/Safari */
    cursor: pointer;
    outline: none;
}


input[type="date"]{
   color: var(--primary-color);
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   font-family: "Roboto Mono", monospace;
  
}
::-webkit-calendar-picker-indicator{
    background-color: #f3f3f3;
    padding: 0.2em;
    border-radius:5px;
}
input[type="radio"] {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin-right: 5px;
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: var(--primary-color);
}
/* box class */
.box{
    padding: 1.5rem;
    border-radius: 5px;
    background: var(--nav);
}

.error-message {
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 0, 0, 0.84);
    margin-top: 5px; /* Space for error message */
}

.edit-btn{
    padding: 0.7em;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
}
